<!DOCTYPE>
<html>
<head>
<title>Article</title>
  <link href="stylesheets/main.css" rel="stylesheet">
</head>
<body>
    <div class="nav">
      <ul>
        <li class="home"><a href="#">Daily Planet</a></li>
        <li class="about"><a href="#">About</a></li>
        <li class="contact"><a href="#">Contact</a></li>
        <li class="new"><a href="#">Add New</a></li>
        
      </ul>
    </div>
<!-- <div id="nav">
<ul>
   <li><a href='index.html'><span>DAILY PLANET</span></a></li>
   <li><a href='/articles'><span>ARTICLES</span></a></li>
   <li><a href='#'><span>About</span></a></li>
   <li><a href='#'><span>Contact</span></a></li>
   <a href='new'><span>ADD NEW</span></a>
   </li>
   <form>
   <input type='text' name='q' size='35' />

   <input type="submit" name="sa" value="Search" />
</form>

</ul>
</div> -->
  <% articleList.forEach(function (article) { %>
    <div>
      <h2>
        <a href="/articles/<%= article.id %>"><%= article.title %></a>
      </h2>
      <div>
        <%= article.author %>
      </div>
    </div>
  <% }) %>
</body>
</html>

</body>
</html>